body {
    background-color: #818181;
    margin-top: 40px;
    margin-bottom: 50vh;
}

.container {
    background-color: #adadad;
    padding-top: 40px;
    padding-bottom: 40px;
}

select {
    width: 100%
}

.example {
    padding-top: 20px;
}

button {
    margin-top: 5px;
}